.blur-hide-friend-status .avatar-status {
    display: none !important;
}
.blur-hide-friend-status .friends-carousel-tile-experience {
    display: none !important;
}
.header {
    display: flex;
    align-items: center;
    padding: 10px;
}
.header img.profile-image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: #f7f7f8;
}
.header-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.header-text h1 {
    margin: 0;
    font-size: 22px;
    color: white;
    line-height: 1;
}
.header-text h2 {
    margin: 0 0 4px 0;
    font-size: 16px;
    color: #bfbfbf;
    line-height: 1;
}
.header-text h3 {
    margin-top: 0;
    font-size: 16px;
    color: #c8c8c8;
}
.name-row {
    display: flex;
    align-items: center;
    gap: 12px;
}
.premium-badge,
.verified-badge {
    width: 24px; 
    height: 24px;
}